// .container {
//   display: grid;
//   grid-template-columns: auto auto auto auto;
//   grid-gap: 10px;
//   padding: 10px;
// }


// .product-card {
//     width: 23%;
//     margin: 1%;
//     position: relative;
//     box-shadow: 0 2px 7px #dfdfdf;
//     background: #fafafa;
//     display: inline-block;
//   }
  
//   .product-tumb {
//    display: flex;
//    align-items: center;
//     justify-content: center;
//     height: 300px;
//    padding: 50px;
//      background: #f0f0f0;
 
//   }
  
//   .product-tumb img {
//     max-width: 100%;
//     max-height: 100%;
//   }
  
//   .product-details {
//     padding: 30px;
//   }
  
//   .product-catagory {
//     display: block;
//     font-size: 12px;
//     font-weight: 700;
//     text-transform: uppercase;
//     color: #ccc;
//     margin-bottom: 18px;
//   }
  
//   .product-details h4 a {
//     font-weight: 500;
//     display: block;
//     margin-bottom: 18px;
//     text-transform: uppercase;
//     color: #363636;
//     text-decoration: none;
//     transition: 0.3s;
//   }
  
//   .product-details h4 a:hover {
//     color: #fbb72c;
//   }
  
//   .product-details p {
//     font-size: 15px;
//     line-height: 22px;
//     margin-bottom: 18px;
//     color: #999;
//   }
  
//   .product-bottom-details {
//     overflow: hidden;
//     border-top: 1px solid #eee;
//     padding-top: 20px;
//   }
  
//   .product-bottom-details div {
//     float: left;
//     width: 50%;
//   }
  
//   .product-price {
//     font-size: 18px;
//     color: #fbb72c;
//     font-weight: 600;
//   }
  
//   .product-price small {
//     font-size: 80%;
//     font-weight: 400;
//     text-decoration: line-through;
//     display: inline-block;
//     margin-right: 5px;
//   }
  
//   .product-links {
//     text-align: right;
//   }
  
//   .product-links a {
//     display: inline-block;
//     margin-left: 5px;
//     color: #e1e1e1;
//     transition: 0.3s;
//     font-size: 17px;
//   }
  
//   .product-links a:hover {
//     color: #fbb72c;
//   }

//   @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,600,700');
// body {
//   font-family: "Fira Sans", sans-serif;
//   -webkit-font-smoothing: antialiased;
//   display: grid;
//   grid-template-columns: 60px auto 60px;
//   grid-template-rows: 60px auto 60px;
// }

// .products-section {
//   grid-column-start: 2;
//   grid-row-start: 2;
//   display: grid;
//   height: 100%;
//   grid-template-rows: auto 1fr auto;
//   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//   grid-gap: 60px;
// }

// .product-card {
//   grid-column-start: span 1;
//   display: grid;
//   grid-template-rows: 240px auto auto; 
//   grid-gap: 16px;
// }

// img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   border-radius: 3px;
// }

// .product-card-footer {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
// }

// .product-category {
//   color: #333;
//   font-size: 12px;
//   font-weight: bold;
// }
// .product-name {
//   color: #333;
//   font-size: 18px;
//   font-weight: 600;
//   margin: 8px 0;
// }

// .product-description {
//   color: #333;
//   font-size: 14px;
//   font-weight: normal;
//   margin: 0;
//   line-height: 1.3rem;
  
// }

// .product-reviews-wrapper {
//   .product-rating {
//     color: #0AB4B5;
//     font-weight: bold;
//   }
//   .product-review {
//     font-size: 13px;
//     color: #555;
//     margin-top: 4px;
//   }
// }

// .button-wrapper {
//   display: flex;
//   justify-content: flex-end;
// }

// button {
//   background-color: #6B0543;
//   color: #fff;
//   border: 0;
//   border-radius: 2px;
//   font-size: 14px;
//   text-transform: uppercase;
//   font-weight: 600;
//   font-family: "Fira Sans";
//   max-width: 160px;
//   width: 100%;
// }


// @media(max-width: 480px) {
//   body {
//     grid-template-columns: auto auto auto;
//     grid-template-rows: auto auto auto;
//   }
// }


.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  
}

.container > div{
  background: #eee;
  padding: 1em;
  margin-right: 10px;
  margin-top: 10px;
 
}

// .container > div:nth-child(odd) {
//   background: #ddd;

// }

.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 220px;
  text-align: center;
}
.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
  padding: 15px;
  border-top: 1px solid #eee;
}

.card-product .price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}